* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* Boot Strab */
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Header */
header {
  text-align: center;
}
header .image-header {
  background-image: url(../images/header.png);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}
header .text-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translatex(-50%);
  z-index: 3;
}
header .text-header h3 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
}
header .text-header .line {
  width: 25%;
  height: 2px;
  background-color: #fff;
  margin: 15px auto 30px;
}
header .text-header p {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  width: 95%;
}
/* End Header */

/* Start Landing */
.landing {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.landing .container .group {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.landing .container .group .text {
  padding: 0 20px 0 20px;
}
.landing .container .group .text h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1em;
}
.landing .container .group .text p {
  font-size: 25px;
}
.landing .container .group .photo img {
  width: 100%;
}
/* End Landing */

/* Start PORTFOLIO */
.portfoliio {
  padding-top: 25px;
  padding-bottom: 50px;
}
.portfoliio .text h3 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  font-size: 35px;
}
.portfoliio .photo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  row-gap: 19px;
  column-gap: 19px;
}
.portfoliio .photo img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .portfoliio .photo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
/* End PORTFOLIO */

/* Start Call */
.call {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #42484c;
  color: white;
  text-align: center;
}
.call .text h3 {
  font-size: 35px;
  text-transform: uppercase;
}
.call .text p {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.call .text p:last-of-type {
  font-size: 24px;
  font-weight: bold;
}
/* End Call */

/* Start Footer */
footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
footer a i {
  color: #42484c;
  font-size: 50px;
  margin-left: 15px;
  padding-bottom: 25px;
  transition: 0.7s;
}
footer a i:hover {
  color: #19c8fa;
}
footer p {
  color: #42484c;
  font-size: 20px;
}
footer p span {
  color: #337ab7;
  font-size: 20px;
}
footer p span:hover {
  text-decoration: underline;
}
/* End Footer */

@media (max-width: 1000px) {
  .landing .container .text h1 {
    font-size: 25px !important;
  }
  .landing .container .group .text p {
    font-size: 19px !important;
  }
  header .text-header h3 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 20px !important;
  }
  .landing .container .group .text p {
    font-size: 15px !important;
  }
  header .text-header h3 {
    font-size: 20px;
  }
  header .text-header p {
    font-size: 9px;
  }
  header .image-header {
    background-position: center;
  }
  .call .text h3 {
    font-size: 25px !important;
  }
  .call .text p {
    font-size: 14px !important;
  }
  footer i {
    font-size: 30px !important;
  }
  footer p {
    font-size: 10px !important;
  }
  footer p span {
    font-size: 10px !important;
  }
}
@media (max-width: 620px) {
  .landing .container .text h1 {
    font-size: 15px !important;
  }
  .landing .container .group .text p {
    font-size: 8px !important;
  }
}
@media (max-width: 320px) {
  .landing .container .text h1 {
    font-size: 10px !important;
  }
  .landing .container .group .text p {
    font-size: 5px !important;
  }
}
